# Importing Libraries

In [23]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the Data

In [24]:
df = pd.read_csv('../datasets/Barcamp Bangkhen 2023 Participant Registration (Responses) - Form Responses 1.csv')

# Data Cleaning & EDA

In [25]:
df.columns

Index(['Timestamp', 'Email Address', 'ชื่อจริง (Firstname)',
       'นามสกุล (Lastname)', 'อาชีพ (Career)',
       'องค์กรที่สังกัด (Organization)',
       'ประวัติการแพ้อาหาร และอาหารตามความเชื่อหรือศาสนา (Food allergy/religious or ethical preferences)',
       'Size เสื้อโดยประมาณ (Approximate  Shirt Size )\n**เฉพาะผู้ที่ลงทะเบียน 200 คนแรก(จำนวนอาจมีการเปลี่ยนแปลง) จะได้รับเสื้อยืด T-shirt Barcamp Bangkhen 2023\n**Only the first 200 registrants(The amount may change) will receive a free Barcamp Bangkhen 2023 T-shirt.',
       'ความสนใจ (Interests) (comma-serperated)',
       'ความยินยอมในการใช้ข้อมูล (Consent for the use of information)'],
      dtype='object')

In [26]:
df = df.drop(columns=['Email Address', 'ชื่อจริง (Firstname)', 'นามสกุล (Lastname)'])

In [27]:
df.rename(index=str, 
             columns={  'อาชีพ (Career)': "career", 'องค์กรที่สังกัด (Organization)': "organization", 
                        'ประวัติการแพ้อาหาร และอาหารตามความเชื่อหรือศาสนา (Food allergy/religious or ethical preferences)' : "food", 
                        "Size เสื้อโดยประมาณ (Approximate  Shirt Size )\n**เฉพาะผู้ที่ลงทะเบียน 200 คนแรก(จำนวนอาจมีการเปลี่ยนแปลง) จะได้รับเสื้อยืด T-shirt Barcamp Bangkhen 2023\n**Only the first 200 registrants(The amount may change) will receive a free Barcamp Bangkhen 2023 T-shirt.": "size", 
                        'ความสนใจ (Interests) (comma-serperated)': "interest", 
                        'ความยินยอมในการใช้ข้อมูล (Consent for the use of information)': "consent" }, inplace=True)

In [28]:
df.head()

,Timestamp,career,organization,food,size,interest,consent
0,1/16/2023 19:29:00,เจ้าหน้าที่ของรัฐ,NaN,ไม่แพ้อาหารหรือความต้องการด้านอาหารอื่นๆ (Neit...,XL,"Banking, Cloud Computing, Coding, Computer, Ed...",ยินยอม (Consent)
1,1/16/2023 19:30:03,Software Engineer,Witsawa Corporation,ไม่แพ้อาหารหรือความต้องการด้านอาหารอื่นๆ (Neit...,L,"AI, Banking, Big Data, Blockchain, Cloud Compu...",ยินยอม (Consent)
2,1/16/2023 19:30:55,Developer,-,ไม่แพ้อาหารหรือความต้องการด้านอาหารอื่นๆ (Neit...,XL,"AI, Blockchain, Cooking, Cyber Security, Food,...",ยินยอม (Consent)
3,1/16/2023 19:38:45,นักศึกษาปริญญาโท,จุฬาลงกรณ์มหาวิทยาลัย,ไม่แพ้อาหารหรือความต้องการด้านอาหารอื่นๆ (Neit...,L,"AI, Anime, Augmented Reality, Banking, Big Dat...",ยินยอม (Consent)
4,1/16/2023 19:39:38,-,NaN,ไม่แพ้อาหารหรือความต้องการด้านอาหารอื่นๆ (Neit...,XL,"Banking, Cooking",ยินยอม (Consent)

In [30]:
df['interest'].describe()

count                  197
unique                 185
top       Banking, Cooking
freq                     6
Name: interest, dtype: object